nav {
  max-width: 800px;
  margin: 0 auto;

  .navbar-brand:hover {
    text-shadow: 1px 1px 2px #787878, 0 0 5em #f6ef54, 0 0 2em #ffb4b4;
  }
}

.app-component {
  width: 100%;
  margin: 4rem auto 0;
  padding: 25px 1rem;
  position: relative;

  .app-players {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
      position: absolute;
      width: 760px;
      left: calc(50% - 380px);
    }
  }

  .app-game-board {
    max-width: 450px;
    margin: 0 auto;
    position: relative;

    .header-title {
      font-size: 1.5rem;
      float: left;
      margin-top: -10px;
    }

    .notification {
      transition: all ease .2s;
      height: 2rem;
    }
  }

  .app-info {
    max-width: 700px;
    margin: 0 auto;
  }
}

.app-footer {

}
