.bg-dark.fixed-top
  nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='https://github.com/lhviet') Viet
    .ml-auto
      button.btn.btn-outline-warning((click)='resetGame()') New Game
.app-component
  .app-players.d-flex.justify-content-between
    .d-block
      app-game-player([player]='gameStore.player1', [currentPlayerId]='currentTurnPlayerId')
    .d-block.text-center
      app-game-player([player]='gameStore.player2', [currentPlayerId]='currentTurnPlayerId')
      button.btn.btn-outline-secondary.btn-block.btn-sm.my-1((click)='switchPlayer()')
        span(*ngIf='gameStore.player2.isComputer') Play with Human
        span(*ngIf='!gameStore.player2.isComputer') Play with Robot
      .d-block.text-center(*ngIf='gameStore.player2.isComputer')
        h6 Robot Smart Level
        .btn-group.btn-group-sm
          button.btn.btn-outline-secondary([class.active]='gameStore.player2.smartLevel === 1', (click)='setRobotLevel(1)') 1
          button.btn.btn-outline-secondary([class.active]='gameStore.player2.smartLevel === 2', (click)='setRobotLevel(2)') 2
          //button.btn.btn-outline-secondary([class.active]='gameStore.player2.smartLevel === 3', (click)='setRobotLevel(3)') 3
  .app-game-board
    .header-title.text-muted {{ gameHeaderTitle }}
    app-game-board(
    [gameMatrix]='gameStore.gameStateMatrix',
    [availablePositionSet]='gameStore.availablePositionSet',
    [winCoinPositions]='gameStore.winCoinPositions',
    (coinClicked)='onCoinClicked($event)')
    .notification.text-danger.text-center {{notificationMessage}}
  .app-info
    .pb-3
      app-game-rules
    .pb-3
    app-info-tech-stack
.app-footer
  app-nav-footer
