.bg-dark.fixed-top
  nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='https://www.glamcorner.com.au/') GlamCorner
    .ml-auto
      button.btn.btn-outline-warning((click)='resetGame()') New Game
.app-component
  .app-players.d-flex.justify-content-between
    .d-block
      app-game-player([player]='gameStore.player1', [currentPlayerId]='currentTurnPlayerId')
    .d-block
      app-game-player([player]='gameStore.player2', [currentPlayerId]='currentTurnPlayerId')
      button.btn.btn-outline-secondary.btn-sm.my-1((click)='switchPlayer()')
        span(*ngIf='gameStore.player2.isComputer') Play with Human
        span(*ngIf='!gameStore.player2.isComputer') Play with Robot
  .app-game-board
    .header-title.text-muted {{ gameHeaderTitle }}
    app-game-board(
    [gameMatrix]='gameStore.gameStateMatrix',
    [availablePositionSet]='gameStore.availablePositionSet',
    [winCoinPositions]='gameStore.winCoinPositions',
    (coinClicked)='onCoinClicked($event)')
    .notification.text-danger.text-center {{notificationMessage}}
  .app-info
    .pb-3
      app-game-rules
    .pb-3
    app-info-tech-stack
.app-footer
  app-nav-footer
