.game-player.card
  .card-body.p-2
    .h5.text-center {{playerName}}
    .text-center
      img.rounded([src]='player.avatar', alt='Player Avatar')
    .text-center.card-text.pt-2 Coins: {{player.count}}
