@import "../../../scss/my-variables";

.game-coin {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #e5eef4;
  transition: all ease .2s;

  &.active {
    border-color: rgba(52, 141, 222, 0.9);
  }

  &.active:hover {
    box-shadow: rgba(120, 216, 239, 0.5) 0 0 12px 5px;
  }
}
