@import "../../../scss/my-variables";

.game-coin {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #e5eef4;
  transition: all ease .1s;
  position: relative;

  &.active {
    border-color: #35ABFF;
  }

  &.active:hover {
    box-shadow: #CBEDFF 0 0 12px 5px;
  }
}
