.game-rules
  .card(style='width: 100%;')
    .card-body.pos-r
      h4.card-title Tech Stack
      h6.card-subtitle.mb-2.text-muted Object: to solve the programming challenge - implementing Connect-4
      .text-primary.pos-a.t-d3.r-d5 (Link attached)
    ul.list-group.list-group-flush
      a.list-group-item.list-group-item-action(href='https://angular.io/', target='_blank') Angular 5, Angular CLI, Karma test, Yarn
      a.list-group-item.list-group-item-action(href='https://www.typescriptlang.org/', target='_blank') Typescript (enum, interface, inheritance, polymorphism)
      a.list-group-item.list-group-item-action(href='https://sass-lang.com/', target='_blank') Sass / Scss / css pre-processor
      a.list-group-item.list-group-item-action(href='https://pughtml.com', target='_blank') Pug - HTML pre-processor
      a.list-group-item.list-group-item-action(href='https://getbootstrap.com/docs/', target='_blank') Bootstrap 4.0 & FontAwesome 4.7 (styling)
      a.list-group-item.list-group-item-action(href='https://firebase.google.com', target='_blank') Firebase (deploy), WebStorm IDE
      a.list-group-item.list-group-item-action(href='https://github.com/lhviet/connect-4', target='_blank') GitHub
      li.list-group-item Mobile (small/responsive screen) supported/considered
