.game-board
  table.table.table-bordered
    tbody
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
      tr
        td O
        td O
        td O
        td O
        td O
        td O
        td O
