.game-board {
  position: relative;
  width: 100%;
  padding-top: calc((6 / 7) * 100% + 40px);

  .game-table {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  table {
    width: 100%;
    height: 100%;

    th, td {
      padding: 10px;
    }

    thead {
      height: 40px;
    }

    tbody {
      background-color: white;
    }

    td.win {
      background-color: #3c5982;
    }
  }

  i {
    color: #808080;
    transition: all ease .1s;
    font-size: 1.25rem;

    &.active {
      color: #de492d;
    }
  }
}
