.game-board.my-3
  table.table.table-bordered
    tbody
      tr(*ngFor='let row of gameMatrix')
        td(*ngFor='let coin of row', (click)='onCoinClicked(coin)')
          app-game-coin([coin]='coin')
