.game-rules
  .card(style='width: 100%;')
    .card-body
      h5.card-title Connect-4
      h6.card-subtitle.mb-2.text-muted Object: Connect four of your checkers in a row while preventing your opponent from doing the same.
    ul.list-group.list-group-flush
      li.list-group-item Dropping colored discs from the top into a seven-column, six-row vertically suspended grid
      li.list-group-item The pieces fall straight down, occupying the next available space within the column
      li.list-group-item.text-danger Winner is the first to form a horizontal, vertical, or diagonal line of four of one's own discs
