.footer-wrapper.bg-dark.py-3
  .footer
    .copyright © 2018 Viet
    .contact
      .d-inline-block.mr-3
        .d-block.mb-2
          a.text-white(href='https://www.linkedin.com/in/hoang-viet-le-1ab37617/', target='_blank')
            i.fa.fa-linkedin.mr-2
            | hoang-viet-le-1ab37617
        .d-block
          i.fa.fa-envelope-o.mr-2
          | LHViet88@gmail.com
      img.rounded.float-right(alt='viet', src='/assets/img-profile-viet.jpg')
