.footer-wrapper.bg-dark.pt-2.pb-2
  .footer
    .copyright © 2018 Viet
    .contact
      .d-inline-block.mr-2
        i.fa.fa-envelope-o.mr-2
        span LHViet88@gmail.com
      img.rounded.float-right(alt='viet', src='/assets/img-profile-viet.jpg')
